<div id="body_buttons_main"><%= link_to "Get Podcast reviewed", "" %></div>

<div class="body_buttons"><%= link_to "Top Podcasts", "" %></div>
<div class="body_buttons"><%= link_to "Browse genres", "" %></div>
<div class="body_buttons"><%= link_to "Create Review" "" %></div>
