<div id="body_buttons_main"><%= link_to "Get Podcast reviewed", "" %></div>

<div id="body_buttons"><%= link_to "Top Podcasts", "" %></div>
<div id="body_buttons"><%= link_to "Browse genres", "" %></div>
<div id="body_buttons"><%= link_to "Create a Review" "" %></div>
