<div id="body_buttons_main">
  <%= link_to "Get Podcast reviewed", new_podcast_path %></div>

  <div id="latest">
    <h1><%= link_to "The Fancy Sauce Show", "" %></h1>

    <div id="latest_content">

    <p>Fancy Sauce is is a delicious mix of Ketchup and Mayonnaise that was made famous by the 2008 movie ‘Step Brothers’. It's also a Podcast that run by three like-minded British guys; Beebs, Colesy and JP who like to discuss(rant) about innovative and pointless technology. Listen to their weekly hour long podcast to hear what drivel they come up with.</p>
    <p>Rating: 89%</p>
    <p>Recent Review...<br>
      "seriously Jordan was on fire..."</p>

    </div>

    <%= link_to "Create Review", "", :id => "create_review" %>

    <img id="latest" src="/assets/fancy_sauce_large.jpg" width="400px" height="200px">
    <iframe id="player" src='http://fancysauceshow.podomatic.com/embed/frame/posting/2013-03-20T03_49_05-07_00?json_url=http%3A%2F%2Ffancysauceshow.podomatic.com%2Fentry%2Fembed_params%2F2013-03-20T03_49_05-07_00%3FautoPlay%3Dfalse%26facebook%3Dtrue%26height%3D85%26minicast%3Dfalse%26objembed%3D0%26width%3D440' height='85' width='440' frameborder='0' marginheight='0' marginwidth='0' scrolling='no' allowfullscreen></iframe>
  </div>



<div id="podcast_gallery">
  <h1>latest podcasts</h1>
  <ul>
    <li><img src="/assets/vish_question_time.jpg"><a href="/podcasts/4">Question Time, with Vishal</a></li>
    <li><img src="/assets/bumblebee_tuna.jpeg"><a href="/podcasts/3">Bumblebee Tuna</a></li>
    <li><img src="/assets/rizzle_bizzle2.jpg"><a href="/podcasts/2">The Rizzle Bizzle Shizzle</a></li>
    <li><img src="/assets/fancy_sauce.jpg"><a href="/podcasts/1">The Fancy Sauce Show</a></li>
  </ul>
</div>


