/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
 COLOUR PALETTE - */
/*
 FONT FOR LOGO - http://www.fontsquirrel.com/fonts/GoodDog*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
    font-family: 'GoodDogRegular';
    src: url('./GoodDog/GoodDog-webfont.eot');
    src: url('./GoodDog/GoodDog-webfont.eot?#iefix') format('embedded-opentype'),
         url('./GoodDog/GoodDog-webfont.woff') format('woff'),
         url('./GoodDog/GoodDog-webfont.ttf') format('truetype'),
         url('./GoodDog/GoodDog-webfont.svg#GoodDogRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
  text-decoration: none;
}
body { background-color: #a7c5bd;  font-family: sans-serif; font-size: 130%;}
#wrapper {
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 800px;

}
header {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  position: relative;
  background-color: #CF4647;
}

a#logo {
  font-family: 'GoodDogRegular';
  color: #fff;
  font-size: 48px;
  padding-left: 20px;
}

header form#search {
  display: inline;
  margin-left: 50px;
}

header form#genres {
  display: inline;
  margin-left: 50px;
}

header h1, header form, header div#account {
  display: inline;
}

div#account {
  font-family: 'GoodDogRegular';
  font-size: 2em;
  margin-left: 70px;
}

.footer ul {
  width: 260px;
  float: left;
  text-align: center;
  color: #fff;
  font-family: 'GoodDogRegular';
  margin-left: 50px;
}



.footer {
  padding-top: 30px;
  display: hidden;
  background-color: #CF4647;
  height: 50px;
}




