div.body_buttons {
  color: #524658;
  display: inline-block;
  border: 5px solid #CF4647;
  background-color: #e5ddcb;
  height: auto;
  width: 285px;
  border-radius: 10px;
  font-size: 2em;
  margin: 5px;
  text-align: center;
  padding-top: 50px;
}


